# Importing data and preprocessing

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('movies.csv',encoding='latin1')

In [5]:
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [6]:
data['Duration'].mode()

0    120 min
Name: Duration, dtype: object

In [7]:
data['Duration']=data['Duration'].fillna('120 min')

In [8]:
data.isnull().sum()

Name           0
Year         528
Duration       0
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [9]:
data['Rating']=data['Rating'].fillna(data['Rating'].mean())

In [10]:
data.isnull().sum()

Name           0
Year         528
Duration       0
Genre       1877
Rating         0
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [11]:
data['Votes'].mode()

0    8
Name: Votes, dtype: object

In [12]:
data['Votes']=data['Votes'].fillna('8')

In [13]:
data.isnull().sum()

Name           0
Year         528
Duration       0
Genre       1877
Rating         0
Votes          0
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [14]:
data['Year'].mode()

0    (2019)
Name: Year, dtype: object

In [15]:
data['Year']=data['Year'].fillna('(2019)')

In [16]:
data.isnull().sum()

Name           0
Year           0
Duration       0
Genre       1877
Rating         0
Votes          0
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [17]:
data['Director'].mode()

0    Jayant Desai
Name: Director, dtype: object

In [18]:
data['Director']=data['Director'].fillna('Jayant Desai')
data.isnull().sum()

Name           0
Year           0
Duration       0
Genre       1877
Rating         0
Votes          0
Director       0
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

# Converting string to vector

In [19]:
import numpy as np
from gensim.models import Word2Vec
from gensim.utils import simple_preprocess
tokenized=[simple_preprocess(director) for director in data['Director']]
model=Word2Vec(sentences=tokenized,vector_size=100,window=5,min_count=1,workers=4)
def dir_to_vector(director):
    token=simple_preprocess(director)
    vector=np.zeros(model.vector_size)
    count=0
    for tok in token:
        if tok in model.wv:
            vector+=model.wv[tok]
            count+=1
        if count!=0:
            vector/=count
        return vector
dir_v=[dir_to_vector(director) for director in data['Director']]

In [20]:

data['Director_Vector'] = dir_v
#print(dir_v)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             15509 non-null  object
 1   Year             15509 non-null  object
 2   Duration         15509 non-null  object
 3   Genre            13632 non-null  object
 4   Rating           15509 non-null  float64
 5   Votes            15509 non-null  object
 6   Director         15509 non-null  object
 7   Actor 1          13892 non-null  object
 8   Actor 2          13125 non-null  object
 9   Actor 3          12365 non-null  object
 10  Director_Vector  15508 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.3+ MB

In [22]:
data['Year']=data['Year'].str.replace(r'[()]','').astype(int)

C:\Users\admin\AppData\Local\Temp\ipykernel_16436\2090773780.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Year']=data['Year'].str.replace(r'[()]','').astype(int)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             15509 non-null  object
 1   Year             15509 non-null  int32
 2   Duration         15509 non-null  object
 3   Genre            13632 non-null  object
 4   Rating           15509 non-null  float64
 5   Votes            15509 non-null  object
 6   Director         15509 non-null  object
 7   Actor 1          13892 non-null  object
 8   Actor 2          13125 non-null  object
 9   Actor 3          12365 non-null  object
 10  Director_Vector  15508 non-null  object
dtypes: float64(1), int32(1), object(9)
memory usage: 1.2+ MB

In [24]:
data['Duration']=data['Duration'].str.replace(r'[min]','').astype(int)

C:\Users\admin\AppData\Local\Temp\ipykernel_16436\3041847990.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Duration']=data['Duration'].str.replace(r'[min]','').astype(int)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             15509 non-null  object
 1   Year             15509 non-null  int32
 2   Duration         15509 non-null  int32
 3   Genre            13632 non-null  object
 4   Rating           15509 non-null  float64
 5   Votes            15509 non-null  object
 6   Director         15509 non-null  object
 7   Actor 1          13892 non-null  object
 8   Actor 2          13125 non-null  object
 9   Actor 3          12365 non-null  object
 10  Director_Vector  15508 non-null  object
dtypes: float64(1), int32(2), object(8)
memory usage: 1.2+ MB

In [26]:
data['Votes'] = data['Votes'].str.replace(',', '')
data['Votes'] = data['Votes'].str.replace('$', '')
data['Votes'] = data['Votes'].str.replace('M', '')
data['Votes'] = data['Votes'].astype(float).round().astype(int)

C:\Users\admin\AppData\Local\Temp\ipykernel_16436\3480220796.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Votes'] = data['Votes'].str.replace('$', '')

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             15509 non-null  object
 1   Year             15509 non-null  int32
 2   Duration         15509 non-null  int32
 3   Genre            13632 non-null  object
 4   Rating           15509 non-null  float64
 5   Votes            15509 non-null  int32
 6   Director         15509 non-null  object
 7   Actor 1          13892 non-null  object
 8   Actor 2          13125 non-null  object
 9   Actor 3          12365 non-null  object
 10  Director_Vector  15508 non-null  object
dtypes: float64(1), int32(3), object(7)
memory usage: 1.1+ MB

In [28]:
def sum_and_convert_to_int(lst):
    if lst is None:
        return lst
    return int(sum(lst))

# Applying the function to each list in the column and store the result as integers in a new column
data['Director'] = data['Director_Vector'].apply(sum_and_convert_to_int)

In [29]:
data['Director']=data['Director'].fillna(data['Director'].mean())

In [30]:
data.isnull().sum()

Name                  0
Year                  0
Duration              0
Genre              1877
Rating                0
Votes                 0
Director              0
Actor 1            1617
Actor 2            2384
Actor 3            3144
Director_Vector       1
dtype: int64

# Extracting x and y

In [44]:
x=data[['Year','Duration','Director','Votes']]

In [45]:
y=data['Rating']

# Splitting the data into train and test

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# Applying Linear Regression

In [41]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [42]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.9290355103628952

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
models = {
    
    'Ridge Regression': Ridge(),
    'Lasso Regression': Lasso(),
    'Random Forest': RandomForestRegressor(),
    'Gradient Boosting': GradientBoostingRegressor(),
    'SVR': SVR()
}

# Train and evaluate each model
for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    mse = mean_squared_error(y_test, y_pred)
    print(f'{name}: Mean Squared Error = {mse}')

Ridge Regression: Mean Squared Error = 0.929035511080121
Lasso Regression: Mean Squared Error = 0.9338350682696442
Random Forest: Mean Squared Error = 0.8110671630703619
Gradient Boosting: Mean Squared Error = 0.7068619001267957
SVR: Mean Squared Error = 0.9579269033622367